@{
    ViewBag.Title = "About";
}

<br />

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>Lorem ipsum aliquam ipsum class lacinia taciti faucibus nisl eros, venenatis inceptos sodales lacus mauris semper quisque proin malesuada est, 
    quam leo enim fusce mi porta enim eleifend. primis fusce nulla aliquam pellentesque, eget elit morbi elementum leo, scelerisque nec quis. 
    egestas posuere vivamus maecenas phasellus in lacus pretium sollicitudin id convallis, mattis pharetra dui habitant mattis pretium nisi elit urna sed justo, 
    aliquam vivamus nulla dui feugiat maecenas morbi sociosqu eu. arcu eleifend quam ut curabitur habitasse malesuada dolor, pretium blandit neque class conubia eget, 
    et fermentum blandit ornare justo nunc.</p>

<p>Potenti malesuada feugiat fames dolor tempor torquent tristique sit hac dolor auctor, facilisis senectus tristique libero primis curabitur rhoncus bibendum aenean fames. 
    vestibulum egestas leo pulvinar per turpis id justo, consequat risus ante nam scelerisque ante enim, massa potenti velit donec aliquam dapibus. 
    ultrices ligula quis cubilia lorem curae integer quisque habitasse amet fermentum, elementum elit proin nostra consequat viverra scelerisque lectus euismod. 
    placerat habitasse ad nisl nam ad morbi nisi, consectetur velit turpis sagittis bibendum porta ut, nullam fusce pulvinar cursus mauris platea. 
    habitasse duis risus laoreet odio pretium nunc neque ut platea, nulla commodo porta semper etiam nunc augue ligula pretium, nec volutpat tincidunt quisque aliquam purus platea quisque. </p>

<p>Curabitur etiam nisi sollicitudin nulla vestibulum adipiscing, ligula placerat torquent auctor fusce mi quam, ante fusce etiam neque integer. 
    vitae vivamus integer sed mattis mi nostra, aenean per sem amet euismod, velit amet curabitur ut adipiscing. 
    pharetra lectus lacus morbi sagittis vel tempus molestie euismod risus aenean fringilla, mauris neque sodales nec integer suscipit luctus leo inceptos nam. 
    nec tellus sit leo hac diam facilisis purus etiam fringilla pulvinar cubilia sociosqu erat tellus, et inceptos leo amet euismod nulla rhoncus tempus vel diam vestibulum inceptos. 
    rhoncus sit bibendum magna rutrum quam laoreet ultrices blandit nam adipiscing sem platea, ipsum ac ante in placerat laoreet inceptos vulputate molestie netus.</p>

<p>Eleifend risus ipsum tortor imperdiet suscipit inceptos convallis tincidunt, etiam porta conubia nisi volutpat mauris sem curae rhoncus, 
    accumsan netus euismod cursus hendrerit luctus turpis. vehicula sollicitudin consequat mattis vehicula nisl pharetra, condimentum convallis elementum euismod sociosqu, 
    nostra porta nam iaculis amet. ultricies tincidunt gravida curabitur ut imperdiet nisi tristique et elit lacus donec faucibus, 
    iaculis tempus erat ad duis inceptos turpis malesuada curabitur aptent ultricies. gravida euismod quisque erat nostra vehicula nibh laoreet nullam, 
    tincidunt neque feugiat tempor a justo aliquet mollis, phasellus lacinia mattis sollicitudin potenti neque sit.</p>

<p>Ante donec aliquet ac vivamus curabitur ut dictumst mauris cubilia, suscipit mauris elit aenean cubilia tincidunt donec fermentum, 
    netus ut ipsum tellus placerat ultrices aliquet non. praesent curabitur risus rutrum sociosqu primis bibendum dapibus ad, ornare cras urna netus laoreet nullam augue felis, 
    sem quisque felis porttitor lectus molestie eu. cursus porta consectetur dui auctor ullamcorper arcu dictumst, commodo cras etiam pretium at inceptos eros, 
    orci quisque leo commodo habitasse inceptos. pharetra nullam per tortor diam himenaeos litora id nam orci mollis habitant ut lacus lobortis, 
    sollicitudin pellentesque euismod sodales feugiat potenti habitant suspendisse sit nec lectus faucibus lorem. </p>